/*
 * base.css
 * Raymond Kim 2015
 *
 * CSS for main Wearhaus site (excluding navbar and footer CSS)
 * Note: this CSS is dependent on bootstrap.css 
 *
 * Contents are organized by TAGS, CLASSES, IDS, and MEDIA QUERIES.
 * Selectors and attributes are ordered in alphabetical order.
 *
 * Useful info: Wearhaus Teal = #00bccc = (0, 188, 204);
 * Useful keyboard shortcut: to sort selectors in alphabetical order, select selectors
 * and press fn + F5 on mac
 *
 */


/* TAGS */

    a,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    header {
        font-family: "Lato", arial, sans-serif;
        font-weight: 300;
        text-transform: uppercase;
    }

    a,
    a:hover,
    a:focus,
    a:active,
    a.active {
        color: gray;
        outline: 0;
    }

    body {
        background-color: black;
        font-family: "Lato", arial, sans-serif;
        overflow-x: hidden;
    }

    form .row:first-child .floating-label-form-group {
        border-top: 1px solid #eee;
    }

    h1 {
        font-size: 96px;
        font-weight: 700;
        margin-top: 0px;
    }

    h3 {
        font-size: 64px;
        font-weight: 400;
    }

    h5 {
        font-size: 32px;
        text-transform: none;
    }

    header {
        color: #fff;
        padding: 30px 0px 280px 0px;
    }

        header img {
            display: block;
            margin: 0 auto 20px;
        }

        header p {
            text-transform: none; /* for the About Us page */
        }

        header .container {
            padding-top: 100px;
            padding-bottom: 50px;
        }

        header .intro-text .name {
            display: block;
            font-size: 2em;
            font-weight: 700;
            text-transform: uppercase;
        }

        header .intro-text .skills {
            font-size: 1.25em;
            font-weight: 300;
        }

    p {
        font-size: 20px;
    }

        p.small {
            font-size: 16px;
        }

    section {
        height: 710px;
    }

        section h2 {
            font-size: 3em;
            margin: 0;
        }

/* CLASSES */

    .btn-outline {
        background: 0 0;
        border: solid 2px #fff;
        color: #fff;
        font-size: 20px;
        margin-top: 15px;
        transition: all .3s ease-in-out;
    }

        .btn-outline:hover,
        .btn-outline:focus,
        .btn-outline:active,
        .btn-outline.active {
            background: #fff;
            border: solid 2px #fff;
            color: #18bc9c;
        }

    .btn-social {
        border-radius: 100%;
        border: 2px solid #fff;
        display: inline-block;
        font-size: 20px;
        height: 50px;
        line-height: 45px;
        text-align: center;
        width: 50px;
    }

    .btn:focus,
    .btn:active,
    .btn.active {
        outline: 0;
    }

    .carousel-control {
        width: 12%;
    }

    .carousel-control.right, .carousel-control.left {
        background: transparent;
    }

    .col-lg-6 {
        margin-top: 70px;
    }

    .img-centered {
        margin: 0 auto;
    }

    .onfromtop_left, .onfrombottom_left, .offscreen_vert_left {
        transition: all 500ms;
        left: -50%;
    }

    .onfrombottomhalf_left, .onfromtophalf_left, .onfromtop_left, .overflowing_vert_left, .onscreen_vert_left {
        transition: all 500ms;
        left: 0px !important;
    }

    .onfromtop_right, .onfrombottom_right, .offscreen_vert_right {
        transition: all 500ms;
        right: -50%;
    }

    .onfrombottomhalf_right, .onfromtophalf_right, .onfromtop_right, .overflowing_vert_right, .onscreen_vert_right {
        transition: all 500ms;
        right: 0px !important;
    }

    .overlay {
        position: absolute;
        width: 100%;
    }

    .row {
        margin-left: 0px; /* override bootstrap */
        margin-right: 0px;
    }

    .scroll-top {
        bottom: 2%;
        height: 50px;
        position: fixed;
        right: 2%;
        width: 50px;
        z-index: 1049;
    }

        .scroll-top .btn {
            border-radius: 100%;
            font-size: 20px;
            height: 50px;
            line-height: 28px;
            width: 50px;
        }

    .scroll-top .btn:focus {
        outline: 0;
    }

    .slide-left, .slide-right {
        background-color: rgba(255, 255, 255, 0.6);
        height: 100%;
        width: 670px;
    }

    .slide-left {
        float: left;
        position: absolute;
    }

    .slide-right {
        float: right;
    }

    .slide-section {
    }

        .slide-section h5 {
            color: black;
            font-weight: 700;
        }

        .slide-section p {
            color: black;
            font-weight: 300;
        }

    .slide-section-text {
        height: 47%;
        padding: 20px;
    }

    .slide-section-media {
        height: 53%;
    }

    .tab {
        height: 100%;
        padding: 0px 0px 0px 0px;
        width: 100%;
    }

    .tab-arrow {
        height: 25px;
        margin-top: 77px;
        margin-right: 17px;
    }

    .tab-right, .tab-left {
        background-color: rgba(255, 255, 255, 0.6);
        margin: 334px 0px 0px 0px;
        padding-left: 20px;
        width: 412px
    }

        .tab-left h3, .tab-right h3 {
            color: black;
            font-weight: 700;
            margin-bottom: 20px;
        }

        .tab-left p, .tab-right p {
            color: white;
        }

    .tab-left {
        border-bottom-right-radius: 20px;
        box-shadow: 3px 3px 6px 0px rgba(31,31,31,0.35);
        float: left;
        margin-left: 670px;
        position: relative;
    }

/*        .tab-left:before {
            border-color: #333 #fff;
            border-style: solid;
            border-width: 50px 50px 0px 0px;
            bottom: 0;
            content: "";
            display: block;
            position: absolute;
            right: 0;
            width: 0;
        }*/

    .tab-left-responsive, .tab-right-responsive {
        cursor: default;
    }

        .tab-left-responsive h3 {
            float: left;
            width: 350px;
        }

    .tab-right {
        border-bottom-left-radius: 20px;
        box-shadow: -3px 3px 6px 0px rgba(31,31,31,0.35);
        float: right;
        position: relative;
    }

    .tab-right-responsive {
        padding: 10px;
    }

    .tab-row {
        height: 100%;
    }

    .tab-text-left, .tab-text-right {
        height: 100%;
        position: relative;
        width: 100%;
    }

    .tab-text-left {
        left: -670px; /* init off screen */
    }

    .tab-text-right {
        float: right;
        right: -670px; /* init off screen */
    }

    .video-container { /* make YouTube embed video responsive */
        height: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        position: relative;
    }

        .video-container iframe {
            height: 100%;
            left: 0;
            position: absolute;
            top: 0;
            width: 100%;
        }

/* IDS */

    #app {
        background: black url('/static/img/dj.jpg') no-repeat;
        background-size: cover;
    }

    #blog {
        margin: 0;
        padding: 0;
    }

        #blog .col-lg-3 {
            background-color: black;
            padding: 0 0 0 0;
        }

        #blog img {
            width: 100%;
        }

    #blog-grid {
        padding: 100px 0px 100px 0px;
    }

    #carousel-example-generic {
        height: 100%;
    }

    #color {
        background: url('/static/img/colorpic.jpg');
        background-size: cover;
    }

    #slide-section-1-app .mobile-links {
        padding-left: 160px;
        top: 40px;
    }

    #slide-section-1-color img { /* light ring gif */
        width: 100%;
    }

    #slide-section-1-sync {
        background: #E6E6E6 url('/static/img/headphonegraphic.png') no-repeat center center scroll;
    }

    #slide-section-1-touch {

    }

        #slide-section-1-touch img {
            padding-top: 30px;
            width: 100%;
        }

    #slide-section-2-app {
        background: #E6E6E6;
    }

    #slide-section-2-color {
        background: #E6E6E6;
    }

    #slide-section-2-touch {
        background: #E6E6E6;
    }

    #sync {
        background: #E6E6E6 url('/static/img/syncpicresize.jpg') no-repeat; 
        background-size: cover;
    }

    #title {
        background: #E6E6E6 url('/static/img/test.jpg');
        background-size: cover;
    }

    #title-text-arc {
        font-size: 136px;
    }

    #title-text-wearhaus {
        font-size: 40px;
        font-weight: 300;
        margin-bottom: 0px;
    }

    #touch {
        background: #E6E6E6 url('/static/img/touchpic.jpg');
        background-size: cover;
    }

    #title-text {
        margin-left: -45px;
    }

    #title-vid-icon {
        height: 120px;
        margin: 0 auto;
        width: 120px;
    }

    #title-vid-white-btn {
        width: 100%;
    }


/* MEDIA QUERIES */

    @media(max-width: 480px) {
        h1 {
            font-size: 40px !important;
        }
    }

    /* smartphones */
    @media(max-width:767px) {

        h1 {
            font-size: 72px;
        }

        h3 {
            font-size: 36px;
        }

        h5 {
            font-size: 24px;
        }

        header {
            padding: 30px 0px 100px 0px;
        }

        section {
            height: 497px;        
        }

            section.first {
                padding-top: 75px;
            }

        .container-mobile {
            color: white;
            display: block;
            height: 100%;
            padding: 20% 10% 0% 10%;
        }

            .container-mobile p {
                font-size: 16px;
                font-weight: 300;
            }

        .section-mobile {
            background-color: #00BCCC;
            display: none;
        }

        .tab-text-left, .tab-text-right {
            display: none;
        }

        #blog { /* override section CSS since blog responds differently */
            height: 100%;
        }

            #blog .col-lg-3 {
                float: left;
                width: 50%;
            }

        #sync {
            background-size: auto 497px;
        }

        #title-text {
            margin: 0 auto;
            text-align: center;
        }

        #title-text-arc {
            font-size: 80px;
        }

        #title-vid-icon {
            height: 60px;
            margin: 0 auto;
            width: 60px;
        }

    }

    /* tablets */
    @media(min-width:768px) {

        header .intro-text .name {
            font-size: 4.75em;
        }

        header .intro-text .skills {
            font-size: 1.75em;
        }

        .navbar {
            border-radius: 0px; /* override Bootstrap rounding corners of navbar */
        }

        .container-mobile, .section-mobile {
            display: none;
        }

        #blog {
            height: 100%;
            width: 100%;
        }

            #blog .col-lg-3 {
                float: left;
                width: 50%;
            
    }

    @media(min-width:992px) {
        h3 {
            font-size: 64px;
        }

        p {
            font-size: 18px;
        }

        .tab-left, .tab-right {
            width: 412px;
        }

        .video-container iframe {
            height: 100%;
            left: 0;
            width: 100%;
        }

        #blog .col-lg-3 {
            float: left;
            width: 25%;
        }
    }

    /* tablets portrait/landscape */
    @media(max-width:1099px) {

        h3 {
            font-size: 32px;
        }

        p {
            font-size: 15px;
        }

        section {
            height: 533px;
        }

        .slide-left, .slide-right {
            width: 479px;
        }

        .slide-section-media {
            height: 50.5%;
        }

        .slide-section-text {
            height: 49.5%;
        }

        .tab-arrow {
            margin-top: 44px;
            margin-right: 0px;
        }

        .tab-left {
            margin: 264px 0px 0px 479px;
        }

        .tab-left, .tab-right {
            width: 275px; /* make 75% of regular width */
        }

        .tab-left-responsive h3 {
            width: 210px;
        }


        .tab-right {
            margin-top: 264px;
        }

            .tab-right h3 {
                padding-right: 20px;
            }

        .tab-text-left, .tab-text-right {
            display: block;
        }

        .tab-text-left {
            left: -479px; /* init off screen */
        }

        .tab-text-right {
            right: -479px ; /* init off screen */
        }

        #slide-section-1-app .mobile-links {
            padding-left: 60px;
            top: 20px;
        }

        #slide-section-1-color img {
            display: block;
            margin: 0 auto;
            width: 340px;
        }

        #title-text {
            margin-left: 0px;
        }
    }

    @media(min-height:660px) {
        #title {
            height: 100vh;
        }
    }


    
