/*!
 * Raymond Kim 2015
 *
 * navbar.css based on Bootstrap
 * main Wearhaus site
 */


.nav>li {
    text-align: center;
}


.navbar {
        background-color: transparent; /* make background translucent */
        font-family: "Lato", arial, sans-serif;
        font-weight: 700;
        margin-bottom: 0px;
        padding: 10px 0;
        text-transform: uppercase;
    }

        .navbar a {
            font-weight: 500;
            text-transform: uppercase;
        }

        .navbar .navbar-nav {
            letter-spacing: 1px;
        }

.static {
    background-color: rgba(0,0,0,0.75);
    transition: background-color 1s ease 0s;
}

.navbar-default,
.navbar-inverse {
    border: 0;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a:focus {
    transition: color 0.2s ease;
    color: #00bccc;
    outline: 0;
 }

.navbar-brand { /* CSS for Wearhaus logo */
    padding: 5px 15px;
}

#mailingListModal .modal-body {
    height: 420px; 
}

#order_now {
    margin: 0 15px 0 15px;
    padding-top: 5px;
}

#order_now_link {
    background-color: #00bccc;
    padding: 10px 15px 10px 15px;
    width: 180px;
    -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
}

    #order_now_link:hover, #order_now_link:focus,
    #order_now_link_mobile:hover, #order_now_link_mobile:focus {
        transition: color 0.3s ease;
        background-color: #33C9D6; /* make background lighter on hover/focus */
        color: white;
    }

#order_now_link_mobile {
    display: none;
}

@media(max-width: 767px) {
    .navbar-nav {
    margin: 0px;
    width: 100%;
    }
    .navbar {
    background-color: rgba(0,0,0,0.5);
    }
    .navbar-nav>ul {
        padding: 0px;
    }
    .navbar-collapse {
        border-style: none;
        width: 100vw;
        padding: 0px;
    }
    .navbar-brand {
        padding: 10px 15px;
    }

        .navbar-brand img {
            height: 100%;
        }

    #order_now_link_mobile {
        background-color: #00bccc;
        color: white;
        display: block;
        height: 34px;
        line-height: 24px;
        margin: 8px auto;
        padding: 5px 15px 5px 15px;
        text-align: center;
        width: 180px;
/*        height: 55px;*/
        -webkit-clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
        clip-path: polygon(10% 0%, 100% 0%, 90% 100%, 0% 100%);
    }

    #order_now {
        display: none;
    }
}