<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Wearhaus</title>

    <!-- Bootstrap Core CSS - Uses Bootswatch Flatly Theme: http://bootswatch.com/flatly/ -->
    <link href="../static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="../static/css/base.css" rel="stylesheet">
    <link href="../static/css/about.css" rel="stylesheet">
    <link href="../static/css/navbar.css" rel="stylesheet">
    <link href="../static/css/footer.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700' rel='stylesheet' type='text/css'>

    <!-- favicon -->
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body id="page-top" class="index">

    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img alt="Brand" src="../static/img/logo_white_transparent_high_res.png"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/">About</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/">Blog</a>
                    </li>
                    <li class="page-scroll">
                        <a href="mailto:support@wearhaus.com">Contact</a>
                    </li>
                    <li class="page-scroll">
                        <a href="www.wearhaus.zendesk.com">Support</a>
                    </li>
                    <li class="page-scroll">
                        <a href="store.wearhaus.com">Order Now</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>

    <!-- Header -->
    <header id="title">
        <div class="container">
            <div class="row" id="title-text">
                <div class="col-md-6">
                        <h3>Who We Are</h3>
                        <p>The Wearhaus Arc is the world's first Bluetooth headphone that
                            lets you wirelessly sync up music with multiple people around you.
                            Text text text text text text text text text text text text text 
                            text text text text text text text text text text text text text
                            Text text text text text text text text text text text text text 
                            text text text text text text text text text text text text text
                            Text text text text text text text text text text text text text 
                            text text text text text text text text text text text text text
                            Text text text text text text text text text text text text text
                            <br><br>
                            text text text text text text text text text text text text text
                            Text text text text text text text text text text text text text 
                            text text text text text text text text text text text text text
                            Text text text text text text text text text text text text text 
                            text text text text text text text text text text text text text 
                            <br>
                            text text text text text text text text text text text text text
                            Text text text text text text text text text text text text text 
                            text text text text text text text text text text text text text
                        </p>
                </div>
            </div>
        </div>
    </header>

    <section class="about-section" id="team">
        <h3>WEARHAUS CREW</h3>
        <div id="team-pic-grid">
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="">
                <div class="team-pic-grid-inner-text">
                    <h6>Richie Zeng</h6>
                    <p>CEO</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer class="text-center">
        <div class="footer-above">
            <div class="container">
                <div class="row">
                    <div class="footer-col col-md-12">

                        <!-- mobile layout footer social media links -->
                        <div id="footer-logos-mobile">
                            <a href="https://www.facebook.com/wearhausinc" target="_blank"><img src="../static/img/light_ring_facebook-mobile.png"></a>
                            <a href="https://twitter.com/wearhausinc" target="_blank"><img src="../static/img/light_ring_twitter-mobile.png"></a>
                            <a href="https://instagram.com/wearhausinc/" target="_blank"><img src="../static/img/light_ring_instagram-mobile.png"></a>
                            <a href="https://www.youtube.com/user/wearhausinc" target="_blank"><img src="../static/img/light_ring_youtube-mobile.png"></a>
                            <a href="mailto:support@wearhaus.com"><img src="../static/img/light_ring_mail-mobile.png"></a>
                        </div>
                        <!-- end mobile layout -->

                        <div id="footer-logos">
                            <a href="https://www.facebook.com/wearhausinc"><img src="../static/img/light_ring_facebook.png"></a>
                            <a href="https://twitter.com/wearhausinc"><img src="../static/img/light_ring_twitter.png"></a>
                            <a href="https://instagram.com/wearhausinc/"><img src="../static/img/light_ring_instagram.png"></a>
                            <a href="https://www.youtube.com/user/wearhausinc"><img src="../static/img/light_ring_youtube.png"></a>
                            <a href="mailto:support@wearhaus.com"><img src="../static/img/light_ring_mail.png"></a>
                        </div>
                        <div class="col-md-12" id="footer-links">
                            <a href="/">Home</a>
                            <a href="/">About Us</a>
                            <a href="/">FAQs</a>
                            <a href="/">Shipping Policy</a>
                            <a href="/">Contact Us</a>
                            <a href="/">Privacy Policy</a>
                        </div>

                        <!-- mobile layout footer links -->
                        <div class="col-xs-6 footer-links-mobile">
                            <a href="/">Home</a> <br>
                            <a href="/">About Us</a> <br>
                            <a href="/">FAQs</a>
                        </div>
                        <div class="col-xs-6 footer-links-mobile">
                            <a href="/">Shipping Policy</a>
                            <a href="/">Contact Us</a>
                            <a href="/">Privacy Policy</a>
                        </div>
                        <!-- end mobile layout footer links -->

                    </div>
                </div>
            </div>
        </div>
        <div class="footer-below">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <p>&copy; 2015. Wearhaus. All rights reserved.</p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="../static/js/jquery.js"></script>
    <script src="../static/js/jquery.scrolltracker.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="../static/js/bootstrap.min.js"></script>

    <script src="../static/js/custom.js"></script>

    <!-- Google Analytics for Wearhaus -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-47387009-1', 'auto');
      ga('send', 'pageview');

    </script>

</body>

</html>