<!DOCTYPE html>
<html lang="en">
{% include 'includes.html' %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Wirelessly sync up your headphones with friends and listen to music together.">
    <meta name="author" content="Wearhaus Inc.">

    <title>Wearhaus Arc - The world's first social headphones</title>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Wearhaus Arc - The world's first social headphones"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.wearhaus.com/static/img/mobile.jpg"/>
    <meta property="og:description" content="Wirelessly sync up your headphones with friends and listen to music together."/>
    <link rel="shortcut icon" href="../static/img/favico.ico" type="image/x-icon">

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@wearhausinc">
    <meta name="twitter:creator" content="@wearhausinc">
    <meta name="twitter:url" content="http://www.wearhaus.com">
    <meta property="twitter:title" content="Wearhaus Arc - The world's first social headphones"/>
    <meta property="twitter:description" content="Wirelessly sync up your headphones with friends and listen to music together."/>
    <meta property="twitter:image" content="http://www.wearhaus.com/static/img/mobile.jpg"/>
</head>

<body id="page-top" class="index">
    <div class="overflow">
    {% include 'navbar.html' %}
    <!-- Header -->
        <header id="title">
            <div class="title-content">
                <span id="title-name">
                    WEARHAUS ARC
                </span>
                <br>
                <span id="title-sub">
                    WIRELESS HEADPHONES REINVENTED
                </span>
            </div>
            
        </header>
    <div class="main-container">
        <section id="mail">
            <div class="forms">
                <!-- Begin MailChimp Signup Form -->
                <div id="mc_embed_signup">
                <form action="//wearhaus.us8.list-manage.com/subscribe/post?u=cb896efdc02672d15109af76b&amp;id=3846ab2d6e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                    <div id="mc_embed_signup_scroll">
                    <div class="email_dir">Sign up for updates and deals</div>
                    <input type="email" value="" name="EMAIL" class="email_text" id="mce-EMAIL" placeholder="email address" required>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_cb896efdc02672d15109af76b_3846ab2d6e" tabindex="-1" value=""></div>
                    <input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="email_submit"></div>
<!--                     </div> -->
                </form>
                </div>

                <!--End mc_embed_signup-->
            </div>
        </section>
        <!-- Sync Section -->
        <section id="main_info">
            <div class="box touch">
                <div class="box_title">
                    SOCIAL LISTENING
                </div>
                <div class="g_block">
                    <div class="block_text">
                        World’s first Bluetooth headphones that let you wirelessly sync anything you are listening to with multiple nearby friends.
                    </div>
                </div>
            </div>
            <div class="box light">
                <div class="box_title">
                    LIGHT RING
                </div>
                <div class="g_block">
                    <div class="block_text">
                        The Arc’s one-of-a-kind light ring lets you show off your style and personality. Match the color on the fly to your outfit, mood, even album artwork.
                    </div>
                </div>
            </div>
            <div class="box social">
                <div class="box_title">
                    TOUCH CONTROLS
                </div>
                <div class="g_block">
                    <div class="block_text">
                        A touch-sensitive panel on the right ear cup allows you to easily control playback, volume, skipping songs and more all with a simple swipe of your finger.
                    </div>
                </div>
            </div>
        </section>

        <section id="main_blurb">
            <div class="blurb_text">
                <div class="company_title">
                    WIRELESS AUDIO SHARING
                </div>
                <div class="company_mission">
                    The Wearhaus Arc is the first pair of wireless headphones that allow you to sync up with multiple nearby friends and listen together. In addition to listening by yourself, now you can easily introduce your friends to the artists you love most, or discover new music through people around you.
                </div>
            </div>
        </section>

        <!-- Color Section -->
        <section id="main_blurb">
            <div class="video_container">
                <iframe width="560" height="315" src="//www.youtube.com/embed/B3aplA1j8HE?&modestbranding=1&showinfo=0&color=white" frameborder="0" allowfullscreen></iframe>
            </div>
        </section>

        <!-- Touch Section -->
        <section id="pick_container">
            <div class="content">
                <div class="customize">
                    <div class="title">
                        LIGHT UP AND LISTEN
                    </div>
                    <div class="points">
                        <ul>
                            <li>
                                Customize your lights any color in the RGB spectrum
                            </li>
                            <li>
                                Pulse with the music and match album artwork
                            </li>
                            <li>
                                Control through touch control or companion app
                            </li>
                        </ul>
                    </div>

                    <div class="arc_color">
                        <div class="title">
                            Choose your Arc color
                        </div>
                        <div class="bw_pick">
                            <div class="circle black"> 
                            </div>
                            <div class="circle white"> 
                            </div>
                        </div>
                    </div>
                </div>
                <div class="interact_container">
                    <div class="phone">
                    <img id="phone_mock" src="../static/img/iphone.png">
                    <div class="color">
                    <!-- colorpicker element -->
                        <div class="colorpicker">
                            <canvas id="picker" var="5" width="130" height="130"></canvas>
                            <div class="controls">
                                <div class="color-preview">
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
                <div class="headphone">
                    <canvas id="canvas" width=400 height=500></canvas>
                </div>
                </div>
                
            </div>
        </section>

        <!-- App Section -->
        <section id="fluff_container">
            <div class="girl_container">
                <div class="title">
                    LISTENING FEATURES
                </div>
                <div class="grid_container">
                <div class="grid sync">
                    <div class="subtitle">WIRELESS SYNCING
                        </div>
                        The Arc is the world’s first pair of headphones that lets you wirelessly sync up with multiple friends and listen together. Syn- chronized listening is only a touch away.
                    </div>
                    <div class="grid touch">
                        <div class="subtitle">
                            TOUCH CONTROLS
                        </div>
                        No more fumbling with your phone to change a song -- the Arc uses touch controls on the right earcup to skip between songs, adjust volume, broadcast your audio or join a station.
                    </div>
                    <div class="grid wired">
                        <div class="subtitle">WIRED LISTENING
                        </div>
                        Battery running low? Need to use headphones with your DJ setup? The Arc comes with a gold-plated 3.5mm AUX cable so you can listen from any wired audio source.
                    </div>
                    <div class="grid app">
                        <div class="subtitle">
                            MOBILE APP
                        </div>
                        The Wearhaus mobile app enhances the social experience by providing a list of stations users are hosting nearby Chat within a station, add friends, star songs and more.
                    </div>
                </div>
            </div> 
        </section>
        <section id="specs">
            <div class="spec_container">
                <div class="title">
                    TECHNICAL SPECIFICATIONS
                </div>
                <div class="content">
                    Perfectly Tuned Sound
                    <ul>
                    <li>
                        40mm neodymium dual diaphragm drivers
                    </li>
                    <li>
                        20 - 20kHz frequency response
                    </li>
                    <li>
                        108 dB @ 1kHz sensitivity
                    </li>
                    <li>
                        28.5 Ω impedance
                    </li>
                    </ul>

                    Cutting Edge Bluetooth Technology
                    <ul>
                    <li>
                        Bluetooth 4.0 AptX codec
                    </li>
                    <li>
                        30m maximum Bluetooth syncing range
                    </li>
                    <li>
                        Up to 16 hours of battery life (1200 mAh)
                    </li>
                    </ul>

​                    Superior Design
                    <ul>
                    <li>
                        Anodized aluminum accents
                    </li>
                    <li>
                        Noise isolating memory foam cushion
                    </li>
                    <li>
                        High quality faux leather
                    </li>
                    <li>
                        300g weight
                    </li>
                    </ul>
                </div>
                <div class="images">
                    <img class="freq" src="../static/img/freq.png">
                    <img class="dim" src="../static/img/Headphone-Dim.png">
                    

                </div>
            </div>
        </section>
        <!-- Blog Section -->
        <section id="blog">
            <div class="blog_container">
                <div class="blog blog_static">
                    <a class="blog_link" href="http://blog.wearhaus.com">
                        <img class="blog_bg" src="../static/img/blog_background_generic.jpg">
                        <img class="blog_lol" src="../static/img/wearhaus-blog-overlay.png">
                        <img class="img_hack" src="../static/img/wearhaus-blog-overlay.png">
                        <div class="caption_overlay">
                            <div class="caption">
                            </div>
                        </div>
                    </a>
                </div>
                <div class="posts blog_grid">
                    <a class="blog_pre" href={{ featured_posts.posts[0].url }} id="blog_a_1" data-caption="{{ featured_posts.posts[0].title }}">
                        <img class="blog_img" src={{ featured_posts.posts[0].thumbnail_images.medium.url }} id="blog_img_1">
                    </a>
                    <a class="blog_pre" href={{ featured_posts.posts[1].url }} id="blog_a_2" data-caption="{{ featured_posts.posts[1].title }}">
                        <img class="blog_img" src={{ featured_posts.posts[1].thumbnail_images.medium.url }} id="blog_img_2">
                    </a>
                    <a class="blog_pre" href={{ featured_posts.posts[2].url }} id="blog_a_3" data-caption="{{ featured_posts.posts[2].title }}">
                        <img class="blog_img" src={{ featured_posts.posts[2].thumbnail_images.medium.url }} id="blog_img_3">
                    </a>
                    <a class="blog_pre" href={{ featured_posts.posts[3].url }} id="blog_a_4" data-caption="{{ featured_posts.posts[3].title }}">
                        <img class="blog_img" src={{ featured_posts.posts[3].thumbnail_images.medium.url }} id="blog_img_4">
                    </a>
                    <a class="blog_pre blog_hide" href={{ featured_posts.posts[4].url }} id="blog_a_5" data-caption="{{ featured_posts.posts[4].title }}">
                        <img class="blog_img" src={{ featured_posts.posts[4].thumbnail_images.medium.url }} id="blog_img_5">
                    </a>
                    <a class="blog_pre blog_hide" href={{ featured_posts.posts[5].url }} id="blog_a_6" data-caption="{{ featured_posts.posts[5].title }}">
                        <img class="blog_img" src={{ featured_posts.posts[5].thumbnail_images.medium.url }} id="blog_img_6">
                    </a>
                </div>
            </div>
        </section>
            
    </div>
    {% include 'footer.html' %}

    </div> <!-- .overflow -->

    

    <!-- Wearhaus Zendesk Widget script -->
    <script>
        /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","wearhaus.zendesk.com");/*]]>*/
    </script>
    <!-- End of wearhaus Zendesk Widget script -->

</body>
</html>
