<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-53QLWK9');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Premium Bluetooth headphones with customizable lights, touch controls, and wireless audio sharing.">
    <meta name="author" content="Wearhaus Inc.">

    <title>{{ _("Wearhaus Arc - The world's first social headphones") }}</title>

    <!-- Website Verification Tags -->
    <meta name="p:domain_verify" content="81496b18ca00bb41aa9bc7893324b365"/>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Wearhaus Arc - The world's first social headphones"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.wearhaus.com/static/img/mobile.jpg"/>
    <meta property="og:description" content="Wirelessly sync up your headphones with friends and listen to music together."/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@wearhausinc">
    <meta name="twitter:creator" content="@wearhausinc">
    <meta name="twitter:url" content="http://www.wearhaus.com">
    <meta property="twitter:title" content="Wearhaus Arc - The world's first social headphones"/>
    <meta property="twitter:description" content="Wirelessly sync up your headphones with friends and listen to music together."/>
    <meta property="twitter:image" content="http://www.wearhaus.com/static/img/mobile.jpg"/>
</head>

<body id="page-top" class="index">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53QLWK9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="overflow">



    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><p>WEARHAUS</p></a>
                <div id="navbar-order-now-link-mobile-container">
                    <a href="/#order" id="order_now_link_mobile">
                        Buy Now
                    </a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav navbar-right">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="/about"> {{ _("About") }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://blog.wearhaus.com">{{ _("Blog") }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/updater">{{ _("Updater") }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="https://wearhaus.zendesk.com/hc/en-us" target="_blank">{{ _("Support") }}</a>
                    </li>
                    <li class="page-scroll" id="order_now">
                        <a href="/#order" id="order_now_link">{{ _("Buy Now") }}</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



        <!-- Header -->
        <header id="title">
            <div class="title-content">
                <span id="title-name">{{ _("WEARHAUS") }} &middot; {{ _("ARC") }}</span>
            </div>
            <section class="video_container" style="display: none;">
                <iframe width="1920" height="1080" src="" name="player" frameborder="0" allowfullscreen></iframe>
            </section>
        </header>

        <!-- Features -->
        <section id="features">
            <div class="row" id="boxes">
                <div class="col-md-4">
                    <div class="feature-container">
                        <div class="feature-image">
                            <img src="../static/img/features/light.jpg">
                        </div>
                        <h3>CUSTOMIZABLE LIGHT</h3>
                        <p>The Arc's built in microphone means you'll never miss a phone call while</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-container">
                        <div class="feature-image">
                            <img src="../static/img/features/cushion.jpg">
                        </div>
                        <h3>CUSTOMIZABLE LIGHT</h3>
                        <p>The Arc's built in microphone means you'll never miss a phone call while</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-container">
                        <div class="feature-image">
                            <img src="../static/img/features/touch.jpg">
                        </div>
                        <h3>CUSTOMIZABLE LIGHT</h3>
                        <p>The Arc's built in microphone means you'll never miss a phone call while</p>
                    </div>
                </div>
            </div>
            <div class="row" id="waves">
                <div class="col-md-4">
                    <h3>BATTERY LIFE</h3>
                    <p>Long lasting 16 hour battery life</p>
                    <h3>MOBILE APP</h3>
                    <p>Easy to use mobile app compatible with iOS and Android</p>
                </div>
                <div class="col-md-4">
                    <img src="../static/img/product/black-front-purple.png" height=100% width=100%>
                </div>
                <div class="col-md-4">
                    <h3>BUILT IN MICROPHONE</h3>
                    <p>High fidelity wireless mic built in</p>
                    <h3>WIRED LISTENING</h3>
                    <p>Gold-plated 3.5mm headphone cable included</p>
                </div>
            </div>
        </section>


        <section id="details">
            <div class="row">
                <div class="col-md-5 col-md-offset-2">
                    <img src="../static/img/iphone-headphone-color.png" width=100%>
                </div>
                <div class="col-md-5" id="take-control">
                    <h3>TAKE CONTROL</h3>
                    <ul>
                        <li>Perfectly Tuned Sound</li>
                        <li>40mm neodymium dual diaphragm drivers</li>
                        <li>20-20kHz frequency response</li>
                        <li>108 dB @ 1kHz sensitivity</li>
                        <li>28.5 Ω impedance</li>
                        <li>Cutting Edge Bluetooth Technology</li>
                        <li>Bluetooth 4.0 AptX codec</li>
                        <li>30m maximum Bluetooth syncing range</li>
                        <li>Superior Design</li>
                        <li>Anodized aluminum accents</li>
                        <li>Noise isolating memory foam cushion</li>
                        <li>High quality faux leather</li>
                        <li>300g weight</li>
                    </ul>
                </div>
            </div>
            <div class="row" id="perfectly-tuned-sound">
                <div class="col-md-4 col-md-offset-1">
                <h3>PERFECTLY TUNED SOUND</h3>
                    <ul>
                        <li>Perfectly Tuned Sound</li>
                        <li>40mm neodymium dual diaphragm drivers</li>
                        <li>20-20kHz frequency response</li>
                        <li>108 dB @ 1kHz sensitivity</li>
                        <li>28.5 Ω impedance</li>
                        <li>Cutting Edge Bluetooth Technology</li>
                        <li>Bluetooth 4.0 AptX codec</li>
                        <li>30m maximum Bluetooth syncing range</li>
                        <li>Superior Design</li>
                        <li>Anodized aluminum accents</li>
                        <li>Noise isolating memory foam cushion</li>
                        <li>High quality faux leather</li>
                        <li>300g weight</li>
                    </ul>
                </div>
            </div>
        </section>


        <section id="press">
            <div class="row" id="press-logos">
                <div class="press-logo">
                    <a href="https://www.buzzfeed.com/sarahhan/coolest-things-on-amazon-launchpad-january"><img src="../static/img/press/buzzfeed.png"></a>
                </div>
                <div class="press-logo">
                    <a href="https://www.cnet.com/videos/wearhaus-arc-headphones-let-you-listen-with-friends/"><img src="../static/img/press/cnet.png"></a>
                </div>
                <div class="press-logo">
                    <a href="http://www.macworld.com/article/3156034/headphones/12-of-the-most-exciting-headphones-we-listened-to-at-ces.html#slide6"><img src="../static/img/press/macworld.png"></a>
                </div>
                <div class="press-logo">
                    <a href="http://www.mensjournal.com/gear/articles/ces-2017-4-start-up-gadgets-that-put-big-brands-to-shame-w459364"><img src="../static/img/press/mensjournal.png"></a>
                </div>
                <div class="press-logo">
                    <a href="https://www.youtube.com/watch?v=b-ZACvrlddM"><img src="../static/img/press/unboxtherapy.png"></a>
                </div>
                <div class="press-logo">
                    <a href="https://techcrunch.com/2014/11/12/the-wearhaus-arc-connects-headphone-wearers-in-wireless-concert/"><img src="../static/img/press/techcrunch.png"></a>
                </div>
            </div>
        </section>


        <section id="reviews">
            <div class="row" id="review-quotes">
                <div class="col-md-5 col-md-offset-1">
                    <div class="review-slider">
                        <ul>
                            <li><div class="review-slide">
                                <h3>"GREAT SET OF CANS!"</h3>
                                <img src="../static/img/five-stars.png">
                                <p>All in all I would say that even though this is a company new to the audio business that they came out with a decent pair of cans. At home I use a DAC/amp combo but these are great on the go especially if you have something like an iPhone 7. The sound is crisp enough to my liking, and if you don't like the built in DAC you can always play through the AUX cable and still share.</p>
                            </div></li>
                            <li><div class="review-slide">
                                <h3>"GREAT SET OF CANS!"</h3>
                                <img src="../static/img/five-stars.png">
                                <p>All in all I would say that even though this is a company new to the audio business that they came out with a decent pair of cans. At home I use a DAC/amp combo but these are great on the go especially if you have something like an iPhone 7. The sound is crisp enough to my liking, and if you don't like the built in DAC you can always play through the AUX cable and still share.</p>
                            </div></li>
                            <li><div class="review-slide">
                                <h3>"GREAT SET OF CANS!"</h3>
                                <img src="../static/img/five-stars.png">
                                <p>All in all I would say that even though this is a company new to the audio business that they came out with a decent pair of cans. At home I use a DAC/amp combo but these are great on the go especially if you have something like an iPhone 7. The sound is crisp enough to my liking, and if you don't like the built in DAC you can always play through the AUX cable and still share.</p>
                            </div></li>
                            <li><div class="review-slide">
                                <h3>"GREAT SET OF CANS!"</h3>
                                <img src="../static/img/five-stars.png">
                                <p>All in all I would say that even though this is a company new to the audio business that they came out with a decent pair of cans. At home I use a DAC/amp combo but these are great on the go especially if you have something like an iPhone 7. The sound is crisp enough to my liking, and if you don't like the built in DAC you can always play through the AUX cable and still share.</p>
                            </div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>


        <section id="section-order">
            <div class="row" id="order">
                <div id="pictures" class="col-md-5 col-md-offset-1">
                    <div id="container" style="margin: auto; max-width: 400px;">
                    <div class="slider">
                        <ul>
                            <li><img src="../static/img/product/wearhaus-black-2.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-white-2.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-black-1.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-white-1.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-black-4.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-white-4.jpg"></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-md-6" id="order-form">
                    <h1>{{ _("ORDER NOW") }}</h1>
                    <h4>$199.99</h4>
                    <div class="row" id="counters">
                        <div id="black-counter">
                            <label for="black">Black</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="black">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" name="black" class="form-control input-number black-counter" value="0" min="0" max="99">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="black">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div id="white-counter">
                            <label for="white">White</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="white">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" name="white" class="form-control input-number white-counter" value="0" min="0" max="99">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="white">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="order-submit"><p>CHECKOUT</p></div>
                    </div>
                    <img src="../static/img/whatsinthebox.png" width="300">
                </div>
            </div>
        </section>

        <div class="headphone" style="display:none;">
            <canvas id="canvas" width=400 height=500 style="display:none;"></canvas>
        </div>

    {% include 'footer.html' %}

    </div> <!-- .overflow -->

    {% include 'includes.html' %}
    <link href="../static/css/light.css" rel="stylesheet">

    <script>
        jQuery(document).ready(function($) {
            $('.slider').unslider();
            $('.review-slider').unslider({
                autoplay: true,
                infinite: true
            });
        });
    </script>

</body>
</html>
