<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-53QLWK9');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="High quality Bluetooth headphones with customizable lights, touch controls, and wireless audio sharing.">
    <meta name="author" content="Wearhaus Inc.">

    <title>{{ _("Wearhaus Arc - Smart Bluetooth Headphones") }}</title>

    <!-- Website Verification Tags -->
    <meta name="p:domain_verify" content="81496b18ca00bb41aa9bc7893324b365"/>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Wearhaus Arc - Smart Bluetooth Headphones"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.wearhaus.com/static/img/mobile.jpg"/>
    <meta property="og:description" content="High quality Bluetooth headphones with customizable lights, touch controls, and wireless audio sharing"/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@wearhausinc">
    <meta name="twitter:creator" content="@wearhausinc">
    <meta name="twitter:url" content="http://www.wearhaus.com">
    <meta property="twitter:title" content="Wearhaus Arc - Smart Bluetooth Headphones"/>
    <meta property="twitter:description" content="High quality Bluetooth headphones with customizable lights, touch controls, and wireless audio sharing."/>
    <meta property="twitter:image" content="http://www.wearhaus.com/static/img/mobile.jpg"/>
</head>

<body id="page-top" class="index">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53QLWK9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="overflow">



    <!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" id="main-nav">
        <div class="navcontainer">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/lightup"><span>WEARHAUS</span></a>
                <div id="navbar-order-now-link-mobile-container">
                    <a href="#order" id="order-now-link-mobile">
                        Buy Now
                    </a>
                </div>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav" id="nav-options">
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>
                    <li class="page-scroll">
                        <a href="http://blog.wearhaus.com">{{ _("Blog") }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#features">{{ _("Features") }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#reviews">{{ _("Reviews") }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="#retailers">{{ _("Retailers") }}</a>
                    </li>
                    <li class="page-scroll">
                        <a href="/updater" style="border: none;">{{ _("Firmware") }}</a>
                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li class="page-scroll" id="order-now">
                        <a href="#order" id="order-now-link">{{ _("Buy Now") }}</a>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>



        <!-- Header -->
        <header id="title">
            <a class="anchor" id="top"></a>
            <div id="title-slider">
                <ul>
                    <li>
                        <div class="title-content" id="light-up">
                            <div class="header-text-box">
                                <h2 class="tagline">Light up and listen</h2>
                                <h1 class="product-name">Wearhaus <strong>&middot;</strong> Arc</h1>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="title-content" id="audiophile-approved">
                            <div class="header-text-box">
                                <h2 class="tagline">Audiophile approved</h2>
                                <h1 class="product-name">Wearhaus <strong>&middot;</strong> Arc</h1>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="title-content" id="touch-controls">
                            <div class="header-text-box">
                                <h2 class="tagline">Touch controls</h2>
                                <h1 class="product-name">Wearhaus <strong>&middot;</strong> Arc</h1>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="title-content" id="wireless-audio-sharing">
                            <div class="header-text-box">
                                <h2 class="tagline">Wireless audio sharing</h2>
                                <h1 class="product-name">Wearhaus <strong>&middot;</strong> Arc</h1>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
        </header>

        <!-- Features -->
        <section id="section-features">
            <a class="anchor" id="features"></a>
            <div class="row" id="boxes">
                <div class="col-md-4">
                    <div class="feature-container">
                        <div class="feature-image">
                            <img src="../static/img/features/light.jpg">
                        </div>
                        <h3>CUSTOMIZABLE LIGHT RING</h3>
                        <p>Customize your lights to any color in the color spectrum. Pulse with the music and match album artwork. Control them using touch controls or the mobile app.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-container">
                        <div class="feature-image">
                            <img src="../static/img/features/sound.jpg">
                        </div>
                        <h3>HIGH FIDELITY SOUND</h3>
                        <p>Hifi is more than just a buzzword here. The Wearhaus Arc delivers clean and crisp highs, with plenty of rich bass to go around.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="feature-container">
                        <div class="feature-image">
                            <img src="../static/img/features/touch.jpg">
                        </div>
                        <h3>TOUCH CONTROLS</h3>
                        <p>A touch-senstive panel on the right earcup allows you to easily control playback, volume, and more all with a simple swipe of your finger.</p>
                    </div>
                </div>
            </div>
            <div class="row" id="waves">
                <div class="col-md-6 col-md-push-3">
                    <img src="../static/img/product/black-front-purple.png" height=100% width=100%>
                </div>
                <div class="col-md-3 col-md-pull-6">
                    <div id="waves-float-right">
                        <h3>BATTERY LIFE</h3>
                        <p>Long lasting 15 hour battery life</p>
                        <h3>MOBILE APP</h3>
                        <p>Easy to use iOS and Android apps</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <h3>BUILT IN MICROPHONE</h3>
                    <p>High fidelity wireless mic built-in</p>
                    <h3>WIRED LISTENING</h3>
                    <p>Gold-plated 3.5mm audio cable included</p>
                </div>
            </div>
        </section>


        <section id="section-details">
            <a class="anchor" id="details"></a>
            <div class="row">
                <div class="col-md-5 col-md-offset-1">
                    <img src="../static/img/iphone-headphone-color.png" width=100%>
                </div>
                <div class="col-md-5" id="take-control">
                    <h3>TAKE CONTROL</h3>
                    <ul>
                        <li>Customize your lights to any color in the color spectrum</li>
                        <li>Pulse with the music and match album artwork</li>
                        <li>Control colors using touch controls or the mobile app</li>
                    </ul>
                </div>
            </div>
            <div class="row" id="perfectly-tuned-sound">
                <div class="col-md-5 col-md-offset-1">
                <h3>PERFECTLY TUNED SOUND</h3>
                    <ul>
                        <li>40mm neodymium dual diaphragm drivers</li>
                        <li>20-20kHz frequency response</li>
                        <li>108 dB @ 1kHz sensitivity</li>
                        <li>28.5 Ω impedance</li>
                    </ul>
                    <h4>Cutting Edge Bluetooth Technology</h4>
                    <ul>
                        <li>Bluetooth 4.0 AptX codec</li>
                        <li>30m maximum Bluetooth syncing range</li>
                        <li>Up to 15 hours of battery life (1200 mAh)</li>
                    </ul>
                    <h4>Superior Design</h4>
                    <ul>
                        <li>Anodized aluminum accents</li>
                        <li>Noise isolating memory foam cushions</li>
                        <li>High quality faux leather</li>
                        <li>300g weight</li>
                    </ul>
                </div>
            </div>
        </section>


        <section id="section-press">
            <a class="anchor" id="press"></a>
            <div class="row" id="press-logos">
                <div class="press-logo">
                    <a target="_blank" href="https://www.buzzfeed.com/sarahhan/coolest-things-on-amazon-launchpad-january"><img src="../static/img/press/buzzfeed.png"></a>
                </div>
                <div class="press-logo">
                    <a target="_blank" href="http://www.macworld.com/article/3156034/headphones/12-of-the-most-exciting-headphones-we-listened-to-at-ces.html#slide6"><img src="../static/img/press/macworld.png"></a>
                </div>
                <div class="press-logo">
                    <a target="_blank" href="https://www.cnet.com/videos/wearhaus-arc-headphones-let-you-listen-with-friends/"><img src="../static/img/press/cnet.png"></a>
                </div>
                <div class="press-logo">
                    <a target="_blank" href="http://www.today.com/video/wearhaus-arc-headphones-tip-n-split-calculator-great-gadgets-for-spring-904689219973"><img src="../static/img/press/today.png"></a>
                </div>
                <div class="press-logo">
                    <a target="_blank" href="http://www.mensjournal.com/gear/articles/ces-2017-4-start-up-gadgets-that-put-big-brands-to-shame-w459364"><img src="../static/img/press/mensjournal.png"></a>
                </div>
                <div class="press-logo">
                    <a target="_blank" href="https://www.youtube.com/watch?v=b-ZACvrlddM"><img src="../static/img/press/unboxtherapy.png"></a>
                </div>
            </div>
        </section>


        <section id="section-reviews">
            <a class="anchor" id="reviews"></a>
            <div class="row" id="review-quotes">
                <div class="col-md-5 col-md-offset-1">
                    <div class="review-slider">
                        <ul>
                            <li><div class="review-slide">
                                <h3>"Great set of cans!"</h3>
                                <img src="../static/img/five-stars.png">
                                <p>All in all I would say that even though this is a company new to the audio business that they came out with a decent pair of cans. At home I use a DAC/amp combo but these are great on the go especially if you have something like an iPhone 7. The sound is crisp enough to my liking, and if you don't like the built in DAC you can always play through the AUX cable and still share. (via <a href="https://www.amazon.com/dp/B00WBSSVDW">Amazon</a>)</p>
                            </div>
                            <li><div class="review-slide">
                                <h3>"Exciting new pair of headphones!"</h3>
                                <img src="../static/img/five-stars.png">
                                <p>The main software feature of the arcs is its wireless audio sharing which you can read more about on the company's website. My roommate owns an Arc, and it is extremely convenient to share audio seamlessly and quietly, which is very convenient especially during study sessions. The ability to easily listen to each other's music really helped expand my own music taste, which was a very nice surprise. (via <a href="https://www.amazon.com/dp/B00WBSSVDW">Amazon</a>)</p>
                            <li><div class="review-slide">
                                <h3>"Catch the attention of coworkers"</h3>
                                <img src="../static/img/five-stars.png">
                                <p>These headphones will definitely catch the attention of coworkers passing by. I was looking for headphones to use at work to drown out noise, and these definitely do the job. I get lots of questions about it from people walking past, and it's really great that the light actually pulses to the music. (via <a href="https://www.amazon.com/dp/B00WBSSVDW">Amazon</a>)</p>
                            <li><div class="review-slide">
                                <h3>"One of the coolest looking headphones"</h3>
                                <img src="../static/img/five-stars.png">
                                <p>My favorite way to use the Arcs is while watching a movie with my boyfriend on the plane. It's no fun splitting earbuds on the plane with the engine drowning out a lot of sound. Basically, these headphones are awesome. Not only do they look super slick, but they offer a pretty unique experience - a music experience that is super immersive and completely shareable whenever, wherever. (via <a href="https://www.amazon.com/dp/B00WBSSVDW">Amazon</a>)</p>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section id="section-order">
            <a class="anchor" id="order"></a>
            <div class="row">
                <div id="pictures" class="col-md-6">
                    <img id="black-photo" src="../static/img/product/black-front-multi.jpg">
                    <img id="white-photo" style="display:none;" src="../static/img/product/white-front-multi.jpg">
                </div>
                <div class="col-md-6" id="order-form">
                    <p>AVAILABLE IN BLACK OR WHITE</p>
                    <h1>{{ _("WEARHAUS ARC") }}</h1>
                    <h1>$199.99</h1>
                    <div class="row">
                        <div id="color-buttons">
                            <div class="order-button" id="black-color">Black</div>
                            <div class="order-button" id="white-color">White</div>
                        </div>
                        <a href="https://store.wearhaus.com/cart/997163061:1"><div class="order-button" id="add-to-cart">Add to cart >></div></a>
                    </div>
                    <h3>Product Description</h3>
                    <p id="product-description">The Wearhaus Arc is the first pair of wireless headphones that allow you to sync up with multiple friends and listen together. In addition to listening on your own, now you can easily introduce your friends to the artists you love most, or discover new music through people around you.</p>
                </div>
            </div>
        </section>


        <section id="section-gallery">
            <a class="anchor" id="gallery"></a>
                <div class="row">
                    <a href="../static/img/gallery/cafe1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                        <img src="../static/img/gallery/cafe1-thumb.jpg" class="img-fluid">
                    </a>
                    <a href="../static/img/gallery/apartment1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                        <img src="../static/img/gallery/apartment1-thumb.jpg" class="img-fluid">
                    </a>
                    <a href="../static/img/gallery/subway1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                        <img src="../static/img/gallery/subway1-thumb.jpg" class="img-fluid">
                    </a>
                </div>
                <div class="row">
                    <a href="../static/img/gallery/city1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                        <img src="../static/img/gallery/city1-thumb.jpg" class="img-fluid">
                    </a>
                    <a href="../static/img/gallery/city2.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                        <img src="../static/img/gallery/city2-thumb.jpg" class="img-fluid">
                    </a>
                    <a href="../static/img/gallery/airplane1.jpg" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
                        <img src="../static/img/gallery/airplane1-thumb.jpg" class="img-fluid">
                    </a>
            </div>
        </section>


        <section id="section-retailers">
            <a class="anchor" id="retailers"></a>
            <div class="row">
                <div class="col-md-4" id="retailer-cta">
                    <p>FIND THE WEARHAUS ARC AT THESE</p>
                    <p><strong>AUTHORIZED RETAILERS</strong></p>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-3 retailer-logo">
                            <a target="_blank" href="https://www.amazon.com/dp/B00WBSSVDW"><img src="../static/img/retailers/amazon.png"></a>
                        </div>
                        <div class="col-sm-3 retailer-logo" style="padding: 0 25px;">
                            <a target="_blank" href="https://fab.com/product/wearhaus-arc-wireless-headphones-526830"><img src="../static/img/retailers/fab.png"></a>
                        </div>
                        <div class="col-sm-3 retailer-logo">
                            <a target="_blank" href="https://www.newegg.com/Product/Product.aspx?Item=9SIAD215AJ5121"><img src="../static/img/retailers/newegg.png"></a>
                        </div>
                        <div class="col-sm-3 retailer-logo">
                            <a target="_blank" href="http://www.frys.com/product/9072737"><img src="../static/img/retailers/frys.png"></a>
                        </div>
                    </div>
                </div>
            </div>
        </section>


    {% include 'footer.html' %}

    </div> <!-- .overflow -->

    {% include 'includes.html' %}
    <link href="../static/css/light.css" rel="stylesheet">

    <script>
        jQuery(document).ready(function($) {
            $("#title-slider").unslider({
                arrows: false,
                autoplay: true,
                infinite: true,
                delay: 5000
            });
            $(".review-slider").unslider({
                autoplay: true,
                infinite: true,
                delay: 10000
            });
            $("#black-color").click(function() {
                $("#black-color").addClass("selected");
                $("#white-color").removeClass("selected");
                $("#black-photo").css("display", "block");
                $("#white-photo").css("display", "none");
                $("#order-form a").attr("href", "https://store.wearhaus.com/cart/997163061:1");
            });
            $("#white-color").click(function() {
                $("#white-color").addClass("selected");
                $("#black-color").removeClass("selected");
                $("#white-photo").css("display", "block");
                $("#black-photo").css("display", "none");
                $("#order-form a").attr("href", "https://store.wearhaus.com/cart/997163065:1");
            });

        });


        /* Lightbox Initialization */
        $(document).on('click', '[data-toggle="lightbox"]', function(event) {
            event.preventDefault();
            $(this).ekkoLightbox();
        });
    </script>

</body>
</html>
