<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-53QLWK9');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Premium Bluetooth headphones with customizable lights, touch controls, and wireless audio sharing.">
    <meta name="author" content="Wearhaus Inc.">

    <title>{{ _("Wearhaus Arc - The world's first social headphones") }}</title>

    <!-- Website Verification Tags -->
    <meta name="p:domain_verify" content="81496b18ca00bb41aa9bc7893324b365"/>

    <!-- Open Graph Meta Tags -->
    <meta property="og:title" content="Wearhaus Arc - The world's first social headphones"/>
    <meta property="og:type" content="website"/>
    <meta property="og:image" content="http://www.wearhaus.com/static/img/mobile.jpg"/>
    <meta property="og:description" content="Wirelessly sync up your headphones with friends and listen to music together."/>

    <!-- Twitter Meta Tags -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@wearhausinc">
    <meta name="twitter:creator" content="@wearhausinc">
    <meta name="twitter:url" content="http://www.wearhaus.com">
    <meta property="twitter:title" content="Wearhaus Arc - The world's first social headphones"/>
    <meta property="twitter:description" content="Wirelessly sync up your headphones with friends and listen to music together."/>
    <meta property="twitter:image" content="http://www.wearhaus.com/static/img/mobile.jpg"/>
</head>

<body id="page-top" class="index">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53QLWK9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    <div class="overflow">
    {% include 'navbar.html' %}
    <!-- Header -->
    <header id="title">
        <video class="video_bg" poster="static/video/header-poster.jpg" loop muted autoplay>
            <source src="static/video/vday-header.mp4" type="video/mp4" controls/>
        </video>
        <div class="title-content">
            <span id="title-name">{{ _("WEARHAUS") }}</span>
            <span id="title-name-thin">{{ _("ARC") }}</span>
            <br>
            <span>
                <a href="http://www.youtube.com/embed/09Axl1R7g1Y?modestbranding=1&amp;autohide=1&amp;showinfo=0&amp;rel=0&amp;controls=1&amp;autoplay=1" target="player">
                    <button id="button-watch-demo">WATCH VIDEO</button>
                </a>
            </span>
        </div>
        <section class="video_container" style="display: none;">
            <iframe width="1920" height="1080" src="" name="player" frameborder="0" allowfullscreen></iframe>
        </section>
    </header>
    <div class="main-container">

        <!-- Color picker Section -->
        <section id="light">
            <div class="row">
                <div class="col-md-4 col-md-push-4" id="light-headphones">
                    <div id="color-window">
                        <img src="../static/img/product/side/black_side_cyan.png">
                    </div>
                </div>
                <div class="col-md-3 col-md-push-4" id="light-picker">
                    <p>Customize your colors on the fly with the Wearhaus mobile app</p>
                    <div class="phone">
                        <img id="phone_mock" src="../static/img/iphone_black_color_noring.png">
                        <div class="color">
                        <!-- colorpicker element -->
                            <canvas id="picker" var="5"></canvas>
                            <div class="controls">
                                <div class="color-preview">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-md-pull-7" id="light-description">
                    <h2>{{ _("LIGHT UP AND LISTEN") }}</h2>
                    <ul>
                        <li><p>Over 50 million color combinations</p></li>
                        <li><p>Switch between one color or multiple</p></li>
                        <li><p>Pulse to the beat of your music</p></li>
                        <li><p>Match your colors to album artwork</p></li>
                    </ul>
                </div>
            </div>
        </section>

        <section id="info">
            <div id="pictures" class="col-md-5 col-md-offset-1">
                <div id="container" style="margin: auto; max-width: 400px;">
                    <div class="slider">
                        <ul>
                            <li><img src="../static/img/product/wearhaus-black-2.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-white-2.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-black-1.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-white-1.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-black-4.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-white-4.jpg"></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Wireless Audio Sharing</h3>
                <p></p>
                <h3>Touch Controls</h3>
                <p></p>
                <h3>Mobile App</h3>
                <p></p>
            </div>
        </section>
        
        <section id="press">
            <div class="row" id="press-logos">
                <div class="col-md-10 col-md-offset-1">
                    <div class="press-logo">
                        <a href="http://www.techcrunch.com"><img src="../static/img/press/techcrunch.png"></a>
                    </div>
                    <div class="press-logo">
                        <a href="http://www.techcrunch.com"><img src="../static/img/press/techcrunch.png"></a>
                    </div>
                    <div class="press-logo">
                        <a href="http://www.techcrunch.com"><img src="../static/img/press/techcrunch.png"></a>
                    </div>
                    <div class="press-logo">
                        <a href="http://www.techcrunch.com"><img src="../static/img/press/techcrunch.png"></a>
                    </div>
                    <div class="press-logo">
                        <a href="http://www.techcrunch.com"><img src="../static/img/press/techcrunch.png"></a>
                    </div>
                    <div class="press-logo">
                        <a href="http://www.techcrunch.com"><img src="../static/img/press/techcrunch.png"></a>
                    </div>
                </div>
            </div>
            <div class="row" id="press-quotes">
                <div class="col-md-6 col-md-offset-3">
                    <div class="press-slider">
                        <ul>
                            <li><div class="press-slide">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                                <p>-CNet</p>
                            </div></li>
                            <li><div class="press-slide">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                                <p>-CNet</p>
                            </div></li>
                            <li><div class="press-slide">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                                <p>-CNet</p>
                            </div></li>
                            <li><div class="press-slide">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                                <p>-CNet</p>
                            </div></li>
                            <li><div class="press-slide">
                                <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua."</p>
                                <p>-CNet</p>
                            </div></li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <!-- Sync Section -->
        <section id="main_info">
            <div class="box light">
                <div class="box_title">{{ _("WIRELESS AUDIO SHARING") }}</div>
                <div class="g_block">
                    <div class="block_text">{{ _("Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.") }}</div>
                </div>
            </div>
            <div class="box app">
                <div class="box_title">{{ _("MOBILE APP") }}</div>
                <div class="g_block">
                    <div class="block_text">{{ _("The Arc comes with a companion mobile app, creating a seamless listening experience. You can spin up a station for your friends to join or tune in to other stations. The app also allows you to update your Arc with new features and ensure that your headphones are working smoothly.") }}</div>
                </div>
            </div>
            <div class="box touch">
                <div class="box_title">{{ _("TOUCH CONTROLS") }}</div>
                <div class="g_block">
                    <div class="block_text">{{ _("A touch-sensitive panel on the right ear cup allows you to easily control playback, volume, skipping songs and more all with a simple swipe of your finger.") }}</div>
                </div>
            </div>
        </section>

        <!-- technical specifications -->
        <section id="specs">
            <div class="spec_container">
                <div class="title">{{ _("TECHNICAL SPECIFICATIONS") }}</div>
                <div class="content">{{ _("Perfectly Tuned Sound") }}<ul>
                    <li>{{ _("40mm neodymium dual diaphragm drivers") }}</li>
                    <li>{{ _("20 - 20kHz frequency response") }}</li>
                    <li>{{ _("108 dB @ 1kHz sensitivity") }}</li>
                    <li>{{ _("28.5 Ω impedance") }}</li>
                    </ul>{{ _("Cutting Edge Bluetooth Technology") }}<ul>
                    <li>{{ _("Bluetooth 4.0 AptX codec") }}</li>
                    <li>{{ _("30m maximum Bluetooth syncing range") }}</li>
                    <li>{{ _("Up to 16 hours of battery life (1200 mAh)") }}</li>
                    </ul>{{ _("Superior Design") }}<ul>
                    <li>{{ _("Anodized aluminum accents") }}</li>
                    <li>{{ _("Noise isolating memory foam cushion") }}</li>
                    <li>{{ _("High quality faux leather") }}</li>
                    <li>{{ _("300g weight") }}</li>
                    </ul>
                </div>
                <div class="images">
                    <img class="freq" src="../static/img/freq.png">
                    <img class="dim" src="../static/img/Headphone-Dim.png">
                </div>
            </div>
        </section>

        <section id="section-order">
            <div class="row" id="order">
                <div id="pictures" class="col-md-5 col-md-offset-1">
                    <div id="container" style="margin: auto; max-width: 400px;">
                    <div class="slider">
                        <ul>
                            <li><img src="../static/img/product/wearhaus-black-2.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-white-2.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-black-1.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-white-1.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-black-4.jpg"></li>
                            <li><img src="../static/img/product/wearhaus-white-4.jpg"></li>
                        </ul>
                    </div>
                    </div>
                </div>
                <div class="col-md-6" id="order-form">
                    <h1>{{ _("ORDER NOW") }}</h1>
                    <h4>$199.99</h4>
                    <div class="row" id="counters">
                        <div id="black-counter">
                            <label for="black">Black</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="black">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" name="black" class="form-control input-number black-counter" value="0" min="0" max="99">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="black">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                        <div id="white-counter">
                            <label for="white">White</label>
                            <div class="input-group">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" disabled="disabled" data-type="minus" data-field="white">
                                        <span class="glyphicon glyphicon-minus"></span>
                                    </button>
                                </span>
                                <input type="text" name="white" class="form-control input-number white-counter" value="0" min="0" max="99">
                                <span class="input-group-btn">
                                    <button type="button" class="btn btn-default btn-number" data-type="plus" data-field="white">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div id="order-submit"><p>CHECKOUT</p></div>
                    </div>
                    <img src="../static/img/whatsinthebox.png" width="300">
                </div>
            </div>
        </section>

        <div class="headphone" style="display:none;">
            <canvas id="canvas" width=400 height=500 style="display:none;"></canvas>
        </div>

    </div>
    {% include 'footer.html' %}

    </div> <!-- .overflow -->

    {% include 'includes.html' %}
    <link href="../static/css/light.css" rel="stylesheet">

    <script>
        jQuery(document).ready(function($) {
            $('.slider').unslider();
            $('.press-slider').unslider({
                autoplay: true,
                infinite: true
            });
        });
    </script>

    <!-- Wearhaus Zendesk Widget script -->
    <script>
        /*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(c){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","wearhaus.zendesk.com");/*]]>*/
    </script>
    <!-- End of wearhaus Zendesk Widget script -->

</body>
</html>
