<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-53QLWK9');</script>
    <!-- End Google Tag Manager -->

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>{{ _("Wearhaus - About") }}</title>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% include 'includes.html' %}
    <link href="../static/css/ourstory.css" rel="stylesheet">

</head>

<body id="page-top" class="index">
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-53QLWK9"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->

    {% include 'navbar.html' %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="col-md-7">
                    <h3>{{ _("Who We Are") }}</h3>
                    <p>{{ _("Wearhaus Inc. is a Bay Area hardware startup founded in 2013 by ex-UC Berkeley students Richie Zeng and Nelson Zhang. Richie and Nelson met as engineering students but bonded over concerts and trips to the record store. They quickly realized how important music can be when it comes to meeting new people, but it’s not always an easy process.") }}</p>
                    <br>
                    <p>{{ _("They soon developed the Wearhaus Arc -- highly customizable, Bluetooth headphones that deliver top-quality sound and allow the user to wirelessly sync music with multiple nearby friends. After graduating from PCH International's Highway1 hardware incubator, and completing a highly successful Kickstarter campaign, the Wearhaus journey is just beginning.") }}</p>
            </div>
        </div>
        <div class="row" id="title-our-story">
        </div>
    </header>

    <section class="about-section" id="team">
        <h3>{{ _("WEARHAUS TEAM") }}</h3>
        <div id="team-pic-grid">
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/richie.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Richie Zeng") }}</h6>
                    <p>{{ _("Cofounder & CEO") }}</p>
                    <p>{{ _("Berkeley, CA") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/nelson.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Nelson Zhang") }}</h6>
                    <p>{{ _("Cofounder & CTO") }}</p>
                    <p>{{ _("Berkeley, CA") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/ken.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Ken Lauguico") }}</h6>
                    <p>{{ _("Mobile Engineer (iOS)") }}</p>
                    <p>{{ _("Berkeley, CA") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/steven.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Steven Hewitt") }}</h6>
                    <p>{{ _("Mobile Engineer (Android)") }}</p>
                    <p>{{ _("Berkeley, CA") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/dana.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Dana Krangel") }}</h6>
                    <p>{{ _("Marketing Manager") }}</p>
                    <p>{{ _("Berkeley, CA") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/gracel.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Gracel C.") }}</h6>
                    <p>{{ _("Marketing Manager") }}</p>
                    <p>{{ _("Berkeley, CA") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/ross.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Ross Davidson") }}</h6>
                    <p>{{ _("Customer Service") }}</p>
                    <p>{{ _("Berkeley, CA") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/lerry.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Lerry Liu") }}</h6>
                    <p>{{ _("Manufacturing Manager") }}</p>
                    <p>{{ _("Shenzhen, China") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/oliver.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Oliver Gan") }}</h6>
                    <p>{{ _("Project Manager") }}</p>
                    <p>{{ _("Shenzhen, China") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/alex.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Alex Zhang") }}</h6>
                    <p>{{ _("Firmware Engineer") }}</p>
                    <p>{{ _("Shenzhen, China") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/pengfei.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Pengfei Han") }}</h6>
                    <p>{{ _("Operations Manager") }}</p>
                    <p>{{ _("Shenzhen, China") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/team/ling.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Ling Liu") }}</h6>
                    <p>{{ _("Bookkeeper") }}</p>
                    <p>{{ _("Shenzhen, China") }}</p>
                </div>
            </div>
            <!--<div class="team-pic-grid-inner">
                <img src="../static/img/nickki.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Nickki Nguyen") }}</h6>
                    <p>{{ _("UI/UX Designer") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/sidd.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Siddartho Bhattacharya") }}</h6>
                    <p>{{ _("Software Engineer") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/ray.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Ray Kim") }}</h6>
                    <p>{{ _("Frontend Engineer Intern") }}</p>
                </div>
            </div>
            <div class="team-pic-grid-inner">
                <img src="../static/img/hari.jpg">
                <div class="team-pic-grid-inner-text">
                    <h6>{{ _("Hari Subbaraj") }}</h6>
                    <p>{{ _("Frontend Engineer Intern") }}</p>
                </div>
            </div>-->
        </div>
    </section>

    {% include 'footer.html' %}


</body>

</html>
